<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561242041363-docfbkb8valc9s083v26f8d0impjhh1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561242041363-docfbkb8valc9s083v26f8d0impjhh1b</string>
	<key>API_KEY</key>
	<string>AIzaSyBtLY-N-Xa_1z67JKoMfcAphfNAHGGREts</string>
	<key>GCM_SENDER_ID</key>
	<string>561242041363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fypParcelConnect.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fyp-parcel-connect</string>
	<key>STORAGE_BUCKET</key>
	<string>fyp-parcel-connect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561242041363:ios:a0d0042ce17501d20ba3e6</string>
</dict>
</plist>